.header{
  background-color: white;
  color: grey;
  margin-bottom: 5px;
  font-size: large;
}

.layout{
  color: #444;
}

.vertical-center{
  height: 20px;
  line-height: 35px;
}

.btn-buy{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  width: 100px;
  margin-left: 45%;
  margin-top: 40px;
  margin-bottom: 20px;
}





.content{
  padding:40px 100px;
}

.carousel{
  width: 730px;
}

.line{
  margin-top: 40px;
  border-top: 1px solid #d4d5d5;
}

.logo-size{
  height: 60px;
  width: 70px;
  margin-left: 55px;
  border-radius: 50px;
}

.user-size{
  height: 60px;
  width: 90px;
}


.search{
  margin-left: 100px;
}
.music-recommend{
  padding: 30px 0;
}
.login-register{
  float:right;
  font-size: 14px;
  margin-right: 100px;

}
.ant-divider, .ant-divider-vertical{
  margin: 0 20px;
}